/*INICIO*/

$verde: #007E5A;
$rosaclaro: #E0D0C1;
$rosamedio: #A76D60;
$rosaoscuro: #844230;
$bordo: #601700;

#fotoPortada {
	img {
	text-align: center;
	background-color: $rosaclaro;
	}
}

#fotoPortada img:hover{
	box-shadow:
			1px 1px $verde,
			2px 2px $verde,
			3px 3px $verde;
	transform: translateX(-3px);
}

#textoInicio{
	a{
		color: $bordo;
	}
}

#inicio{
	padding-top: 15px;
}


#derechaInicio > div {
	background-color: $verde;
	padding: 10px;
}


#derechaInicio {
	p {
	color: $rosaclaro;
	transition: all 0.5 ease;
	}
}

#derechaInicio li:hover{
	transform: scale(1.2);
}

.tituloPaises:hover{
	background-color: $rosamedio;
}

#derechaInicio h3{
	color: $rosaclaro;
}

#derechaInicio ul{
	display: flex;
	flex-direction: column;
}


#textoInicio strong {
	font-size: 25px;
}

#textoInicio {
	padding: 20px;
	color: $rosaoscuro;
}



