/* PROXIMAS FECHAS */

$verde: #007E5A;
$rosaclaro: #E0D0C1;
$rosamedio: #A76D60;
$rosaoscuro: #844230;
$bordo: #601700;




#proxF {
	display: flex;
	margin: 2% 10%; 
	justify-content: space-between;
	.proxF__hijo {
		background-color: $rosaclaro;
		padding: 10px;
		display: flex;
		justify-content: center;
		.tituloPF{
			font-size: 20px;
			background-color: $rosamedio;
			text-align: center;
			color: $bordo;
		}
		.paisesPF li {
			color: $bordo;
		}
	}
}


#proxF .tituloPF:hover {
	color: $rosaclaro;
}

#proxF .imgPF img:hover {
	transform: scale(0.95);
}


.masInfo {
	text-align: center;
	a{
		color: $bordo;
	}
}

