/* TESTIMONIOS DE VIAJERAS */

$verde: #007E5A;
$rosaclaro: #E0D0C1;
$rosamedio: #A76D60;
$rosaoscuro: #844230;
$bordo: #601700;

.cajaTest__test{
	background-color: $rosaclaro;
	display: flex;
	img {
		padding: 5px;
	}
} 

.test__txt {
	color: $bordo;
	font-size: 20px;
	padding: 5px;
	
} 

@media (max-width: 575px) {
	.test__txt{
		padding-left: 20px;
	}
}
